stages:
  - test

pyspark_tests:
  stage: test
  image: python:3.12
  when: manual
  before_script:
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.txt
  script:
    - pytest test_pyspark_transformations.py -v --tb=short
  after_script:
    - deactivate
